<div class="card mt-3 mb-3">
  <div class="card-header">
    <h5 class="card-title">Brand</h5>
  </div>
  <div class="body">
    <ul class="list-group">
      <li routerLink="/brand/add" class="list-group-item">Add the Brand</li>
      <li routerLink="/brand/update" class="list-group-item">Update the Brand</li>
    </ul>
  </div>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <h5 class="card-title">Color</h5>
  </div>
  <div class="body">
    <ul class="list-group">
      <li routerLink="/color/add" class="list-group-item">Add the Color</li>
      <li routerLink="/color/update" class="list-group-item">Update the Color</li>
    </ul>
  </div>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <h5 class="card-title">Car</h5>
  </div>
  <div class="body">
    <ul class="list-group">
      <li routerLink="/car/add" class="list-group-item">Add the Car</li>
      <li routerLink="/car/update" class="list-group-item">Update the Car</li>
    </ul>
  </div>
</div>
